@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color: #460cceee;
    --dark-gray: #6B7280;
    --off-white: #F3F4F6;
}

.goTopBtn {
    position: fixed;
    width: 50px;
    height: 50px;
    /* color: rgb(165, 29, 29);
    background-color:rgb(173, 28, 108); */
    bottom: 40px;
    right: 50px;
    text-decoration: dashed;
    text-align: center;
    line-height: 0.5;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
    font-size: 1rem;
}

.left {
    display: flex; 
    justify-content: center;
    margin: auto;

}

.scroll-up-btn.show {
    bottom:30px;
    opacity: 1;
    pointer-events: auto;
}

.scroll-up-btn {
    position: fixed;
    height: 40px;
    width: 38px;
    /* background: white; */
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-weight: 900;
    font-family: "Font Awesome 5 free";
}

section {
    padding: 100px;
}

.left img {
    height: 20px;
    width: 10px;
}

.column-left {
    margin-left: 2rem;
    margin-right: auto;
    width: auto;
    padding-top: 2rem;
    padding-left: 0rem;
    display: block;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

hr {
    margin: 2rem 0rem;
}

.typed-cursor {
    opacity: 1;
}


.serv-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.text {
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

i {
    font-size: 50px;
    color: white;
    transition: color 0.3s ease;
    font-style: italic;
}

.card:hover {
    background: coral;
}

.column-left .link .link-primary .card .i:hover {
    background: coral;
}

.hme {
    display: flex;
    height: 100vh;
    color: black;
    min-height: 500px;
    background-attachment: fixed;
    font-family: "Ubuntu", sans-serif;
}



.card {
    box-sizing: border-box;
    display: block;
    /* width: calc(33% - 30px); */
    width: 30%;
    background-color: rgb(42, 186, 190);
    text-align: center;
    border-radius: 8px;
    padding: 30px 0px;
    cursor:pointer;
    transition: all 0.3 ease;
}


.container {
    padding-left: 1rem;
    padding-right: 1rem;
    /**  or padding: 0rem 1rem; (Top Right Bottom Left)**/
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/** links **/

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}



.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;

}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var (--primary-color);
}

/** look into BEM naming convention for CSS **/


/** lists **/

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
    margin: auto;
}

/** navigation **/

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem 0.5rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
    
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: white;
}

.navigation .link-active {
    font-weight: bold;
}

/** header **/

.hero {
    padding: 2rem;
}

.hero .hero-img {
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    text-align: center;
    padding-top: 1rem;
    font-size: 2 rem;
    color: var(--dark-gray);
}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color);
}

.Linked .icon-button {
    background: 0 0;
    border: 0;
    padding: 0;
    cursor: pointer;
    text-align: center;
    display: inline;
    position: relative;
    z-index: 0;
    overflow: visible;
    font-size: 16px;
    line-height: 1.6;
    color: #313030;
}


/** sections **/

.section {
    padding: 2rem;
}

.section h3 {
    text-align: center;
}

.ow {
    background-color: var(--off-white);
    border-radius: 1rem;
}


/** footers **/

.footer {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer .link {
    color: white;
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}

.footer ul {
    padding-inline-start: 0px;
}